* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    background-color: #1b1b1b;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin: auto;
}
a {
    color: white;
    font-weight: bold;
}
.tabletKartya {
    display: flex;
    background-color: #1f1f1f;
}
.tabletListaSection {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 40%;
}